body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.half-width{
    width: 50%;
    margin-left: 85px;
}
.half-width img{
    width:80%;
}

h1{
    font-size: 50px;
}
p{
    opacity: .6;
}
h2{
    font-size: 40px;
}

.orange{
    color: orange;
}

.btn{
    padding: 10px 35px;
    text-decoration: none;
    background-image: linear-gradient(to right, lightSalmon, tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

#hero{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

section{
    margin-bottom: 150px;
}

.mid-section{
    background-image: url(img/bg-1.png);
    background-position: right;
    background-repeat: no-repeat;
}
#mr{
    margin-right: 4rem;
}

#mr p{
    width: 90%;
}

.experience{
    box-shadow: 10px 10px 45px gray;
    width: 40%;
    margin-left: 5%;
    padding-left: 2rem;
    padding-bottom: 4rem;
    border-radius: 5px;
}

.right{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    margin-right: 5%;
    background: white;
}


.left{
    border-left: 7px solid;
    border-image: linear-gradient(lightSalmon, tomato);
    border-image-slice: 1;
    z-index: 999;
    background: white;
}

footer{
    text-align: center;
}

.experience-section{
    background-image: url(img/bg-2.png);
    background-repeat: no-repeat;
    background-position: left center;
    
}